.x-htmleditor-imageupload-bordeResize::selection ,.x-htmleditor-imageupload-bordeSelect::selection { background: transparent;color:inherit; } 

.x-htmleditor-imageupload-bordeResize{
	cursor:nw-resize;border:2px dotted #ccc !important;
	padding:0px 16px 16px 0px;
	background-image:url(../img/arrow-resize.png);
	background-position:bottom right;
	background-repeat:no-repeat;
}

.x-htmleditor-imageupload-bordeSelect{
	border:2px dotted #ccc !important;
}